.navbar {
  height: 50px;
  width: 95%;
  background: transparent;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.brand__logo {
  width: 130px;
  background: transparent;
}

.btn {
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width: 575.98px) {
  .navbar {
    width: 95%;
    padding: 10px;
  }
  .brand__logo {
    width: 100px;
  }
  .btn {
    font-size: 16px;
    font-weight: 600;
  }
}
